---
import { Image } from 'astro:assets';

const { href, img, alt } = Astro.props;

interface GHData {
    name: string;
    description: string;
    stargazers_count: number;
    forks_count: number;
    subscribers_count: number;
}

async function getGHData(repoUrl: string): Promise<GHData> {
    const api: string = `${repoUrl.replace('github.com', 'api.github.com/repos')}`;
    const resp: Response = await fetch(api);
    return await resp.json();;
}

const data = await getGHData(href);
---

<section id="card">
    <a href={href}><Image id="card__img" src={img} alt={data.name} inferSize/></a>
    <h1>{data.name.charAt(0).toUpperCase() + data.name.slice(1)}</h1>
    <p>{data.description}</p>
    <section id="card__stats">
        <span>Watchers: {data.subscribers_count}</span>
        <span>Forks: {data.forks_count}</span>
        <span>Stars: {data.stargazers_count}</span>
    </section>
</section>

<style lang="scss">
    #card {
        min-width: 300px;;
        max-width: 400px;
        padding: 2% 2% 0 2%;
        margin: 2% 2%;
        border-radius: 15px;
        background-color: var(--surface1);
        color: white;
        box-shadow: 8px 8px 8px #00000096;
        &__img {
            max-width: 100%;
            height: auto;
            border-radius: 10px;
            transition: transform 0.5s ease-in-out;
            &:hover {
                transform: scale(0.9);
            }
        }
        &__stats {
            display: flex;
            span {
                padding: 0 2vw 2vh 0;
            }
        }
    }
</style>