---
import { Image } from 'astro:assets';

interface Props {
    href: string;
    img: string;
    title: string;
}

const { href, img, title } = Astro.props;

async function fetchRepoDescription(repoUrl: string) {
    try {
        const api = `${repoUrl.replace('github.com', 'api.github.com/repos')}`;
        const response = await fetch(api);

        if (!response.ok) {
            throw new Error(`Failed to fetch repository description. Status: ${response.status}`);
        }

        const data = await response.json();
        return data.description || 'No description available';
    } catch (error) {
        console.error('Error fetching repository description:', error);
        return 'Failed to fetch repository description';
    }
}

const desc = await fetchRepoDescription(href);
---

<section id="card">
    <a href={href}><Image id="card__img" src={img} alt={title} inferSize/></a>
    <h3>{title}</h3>
    <p>{desc}</p>
</section>

<style lang="scss">
    #card {
        max-width: 300px;
        padding: 6% 6% 0 6%;
        margin: 3% 1%;
        border-radius: 15px;
        background-color: var(--surface1);
        color: white;
        box-shadow: 8px 8px 8px #00000096;
        &__img {
            max-width: 100%;
            height: auto;
            border-radius: 10px;
        }
    }
</style>