---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

let theme = 'dark';

if (Astro.props.theme) {
    theme = Astro.props.theme;
}

const { title } = Astro.props
---

<!DOCTYPE html>
<html class={`theme-${theme}`} lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
		<meta name="generator" content={Astro.generator}/>
		<title>{title}</title>
	</head>
	<body class={`theme-${theme}`}>
        <h2>{title}</h2>
        <hr/>
        <Header theme={theme}/>
        <slot/>
        <Footer/>
    </body>
</html>

<style is:global>
    @import 'common.css';

    /** {
        border: 1px solid red;
    }*/
    .theme-dark {
        background-image: linear-gradient(45deg, var(--mantle), 60%, var(--surface2));
        color: var(--text);
    }
    .theme-light {
        background-color: var(--text);
        color: var(--crust);
    }
    body {
        min-height: 100%;
        margin:7vh 0 10vh 0;
        padding:1% 5%;
        user-select: none;
        font-family: system-ui, sans-serif;
    }
</style>